<form action="/page" method="post">
	<input name="page_id" type="hidden" value="<%= @page_id %>" />	
	<label for="message">Message:</label>
  	<input id="message" type="text" name="message">

   <select name="publish_status">
	   <option value="published">Published</option>
	   <option value="unpublished">Unpublished</option>
   </select>

  	<input type="submit" value="Submit">
</form>


