<form action="/page" method="post">
	<input name="page_id" type="hidden" value="1631974847020962" />	
	<label for="message">Message:</label>
  	<input id="message" type="text" name="message">
  	<input type="submit" value="Submit">
</form>


